@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-black-webfont.eot');
  src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-black-webfont.svg#latoblack') format('svg'), url('../fonts/lato-black-webfont.woff') format('woff'), url('../fonts/lato-black-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg'), url('../fonts/lato-italic-webfont.woff') format('woff'), url('../fonts/lato-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: sans-serif;
  }
}
.callout {
  margin-bottom: 25px;
  padding: 20px;
  border-left: 3px solid #eeeeee;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-danger {
  background-color: #fdf7f7;
  border-color: #ebccd1;
}
.callout-danger h4 {
  color: #a94442;
}
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-warning h4 {
  color: #8a6d3b;
}
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-info h4 {
  color: #31708f;
}
.callout-success {
  background-color: #f9fdf7;
  border-color: #d6e9c6;
}
.callout-success h4 {
  color: #3c763d;
}
.t-ww {
  word-wrap: break-word;
  word-break: break-word;
}
.border-none {
  border: 0;
}
.pos-r {
  position: relative !important;
}
.pos-a {
  position: absolute !important;
}
.pos-f {
  position: fixed !important;
}
.w-sm {
  width: 25% !important;
}
.w-md {
  width: 50% !important;
}
.w-lg {
  width: 75% !important;
}
.w-full {
  width: 100% !important;
}
.w-50 {
  width: 50px !important;
}
.w-100 {
  width: 100px !important;
}
.w-120 {
  width: 120px !important;
}
.w-130 {
  width: 130px !important;
}
.w-140 {
  width: 140px !important;
}
.w-150 {
  width: 150px !important;
}
.w-200 {
  width: 200px !important;
}
.w-300 {
  width: 300px !important;
}
.w-350 {
  width: 350px !important;
}
.m-a-0 {
  margin: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-a {
  margin: 20px !important;
}
.m-t {
  margin-top: 20px !important;
}
.m-r {
  margin-right: 20px !important;
}
.m-b {
  margin-bottom: 20px !important;
}
.m-l {
  margin-left: 20px !important;
}
.m-x {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.m-y {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.m-a-xs {
  margin: 5px !important;
}
.m-t-xs {
  margin-top: 5px !important;
}
.m-r-xs {
  margin-right: 5px !important;
}
.m-b-xs {
  margin-bottom: 5px !important;
}
.m-l-xs {
  margin-left: 5px !important;
}
.m-x-xs {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.m-y-xs {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-a-sm {
  margin: 10px !important;
}
.m-t-sm {
  margin-top: 10px !important;
}
.m-r-sm {
  margin-right: 10px !important;
}
.m-b-sm {
  margin-bottom: 10px !important;
}
.m-l-sm {
  margin-left: 10px !important;
}
.m-x-sm {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.m-y-sm {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-a-md {
  margin: 30px !important;
}
.m-t-md {
  margin-top: 30px !important;
}
.m-r-md {
  margin-right: 30px !important;
}
.m-b-md {
  margin-bottom: 30px !important;
}
.m-l-md {
  margin-left: 30px !important;
}
.m-x-md {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.m-y-md {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-a-lg {
  margin: 60px !important;
}
.m-t-lg {
  margin-top: 60px !important;
}
.m-r-lg {
  margin-right: 60px !important;
}
.m-b-lg {
  margin-bottom: 60px !important;
}
.m-l-lg {
  margin-left: 60px !important;
}
.m-x-lg {
  margin-right: 60px !important;
  margin-left: 60px !important;
}
.m-y-lg {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.p-a-0 {
  padding: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-a {
  padding: 20px !important;
}
.p-t {
  padding-top: 20px !important;
}
.p-r {
  padding-right: 20px !important;
}
.p-b {
  padding-bottom: 20px !important;
}
.p-l {
  padding-left: 20px !important;
}
.p-x {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.p-y {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-a-xs {
  padding: 5px !important;
}
.p-t-xs {
  padding-top: 5px !important;
}
.p-r-xs {
  padding-right: 5px !important;
}
.p-b-xs {
  padding-bottom: 5px !important;
}
.p-l-xs {
  padding-left: 5px !important;
}
.p-x-xs {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.p-y-xs {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-a-sm {
  padding: 10px !important;
}
.p-t-sm {
  padding-top: 10px !important;
}
.p-r-sm {
  padding-right: 10px !important;
}
.p-b-sm {
  padding-bottom: 10px !important;
}
.p-l-sm {
  padding-left: 10px !important;
}
.p-x-sm {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.p-y-sm {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-a-md {
  padding: 30px !important;
}
.p-t-md {
  padding-top: 30px !important;
}
.p-r-md {
  padding-right: 30px !important;
}
.p-b-md {
  padding-bottom: 30px !important;
}
.p-l-md {
  padding-left: 30px !important;
}
.p-x-md {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.p-y-md {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-a-lg {
  padding: 60px !important;
}
.p-t-lg {
  padding-top: 60px !important;
}
.p-r-lg {
  padding-right: 60px !important;
}
.p-b-lg {
  padding-bottom: 60px !important;
}
.p-l-lg {
  padding-left: 60px !important;
}
.p-x-lg {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.p-y-lg {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.navbar-header .navbar-brand {
  padding-left: 55px;
  background-image: url('../images/october.png');
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 7px 50%;
  transition: color 0.2s ease 0.05s;
  color: black;
}
.navbar-header .navbar-brand:hover {
  color: saddlebrown;
}
.navbar-nav li.separator {
  width: 1px;
  background: saddlebrown;
  height: 30px;
  margin: 20px 10px 0 10px;
}
.navbar-autohide {
  transition: transform .5s;
}
.navbar-autohide.is-hidden {
  transform: translateY(-72px);
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a {
  transition: color 0.2s ease 0.05s;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:after {
  position: absolute;
  height: 4px;
  bottom: -1px;
  content: '';
  border-radius: 4px;
  z-index: 5;
  width: 0;
  left: 50%;
  transition: all 0.8s ease 0.05s;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after {
  width: 100% !important;
  left: 0 !important;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li:hover > a:after {
  width: 100%;
  left: 0;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a {
  background: transparent;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after,
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #EAD5CC;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:hover:after {
  background: #EAD5CC;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: saddlebrown;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after,
.navbar-pink {
	background-color: #EAD5CC;
	color: #000;
	height: 50px;
}
.banner-container {
	width: 100%;
	position: relative;
	padding-left: 25px;
}
.banner-container img {
	width: 100%;
}
.banner-container .banner-link-container {
	position: absolute;
	top: 50%;
  left: 12%;
	width: 100%;
	transition: .3s ease;
	text-align: left;
}
.banner-link-container a {
	color: saddlebrown;
	font-size: x-large;
}
.banner-link-container a:hover {
	color: peru;
	text-decoration: none;
}
.jumbotron {
	padding-top: 20px;
	padding-bottom: 0px;
}
body {
  padding-top: 70px;
}


/*  ============================================= Новые классы =========================================== */
html,body {
	height:100%;
}
.wrapper {
  display: flex;
	-webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
#layout-content {
  flex: 1 0 auto;
}
#layout-footer {
  flex: 0 0 auto;
}
.preambula{
	margin: 0 0 12.5px;
}
.preambula a {
	color: #586667;
}
.preambula a:hover {
	color: #56a56d;
	text-decoration: none;
}

/* ================= Хэдэр ==================== */

.with-transitions {
	-webkit-transition: all 0.5s linear !important;
  -moz-transition: all 0.5s linear !important;
  -o-transition: all 0.5s linear !important;
  transition: all 0.5s linear !important;
}
.heart-span {
	position:relative;
	font-size: 50px;
	color: #A88777;
}
.heart-counter {
	display: none;
	position:absolute;
  z-index:3;
	margin: 0px 11px;
  font-size: small;
  font-weight: bold;
	color: #A88777;
}
.has-numbers {
	color: floralwhite;
}
.span-appeared {
	display: inline-block;
}
.span-disappeared {
	display: none;
}

.glow {
  color: #56a56d !important;
	font-weight: bold;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow:  0 0 0px #c9e8d2, 0 0 5px #c9e8d2, 0 0 10px #7ec191, 0 0 15px #7ec191, 0 0 20px #7ec191;
  }
  to {
    text-shadow: 0 0 5px #c9e8d2, 0 0 10px #c9e8d2, 0 0 15px #7ec191, 0 0 20px #7ec191, 0 0 25px #7ec191;
  }
}

/* ================= Футер ==================== */

#footer .jumbotron {
	background: transparent !important;
	background-color: transparent !important;
}
.black {
	background-color: black;
}
.bottom-menu {
	list-style-type: none;
	color: lightpink;
}
.bottom-menu li {
	/* border-right: 1px solid bisque; */
}
.v-line {

}
.bordered-right {
	border-right: 1px solid #eeeeee;
}
.bottom-menu a {
	color: bisque;
}
.bottom-menu a:hover {

}
.footer-form-label {
	visibility: hidden;
	position: absolute;
  left: -999em;
}
.footer-header{
	color: #586667 !important;
	text-align: center;
}
.footer-voprosi {
	text-align: left;
	margin-left: 70px;
}
.btn-footer {
	background-color: #56a56d !important;
	border-color: #56a56d !important;
	float: right;
}

/* ================= Форма ==================== */
textarea {
    resize: none;
}
button#toggle-navigation-btn {
	background-color: #f4b9a0;
	border-color: #999999;
}

button#toggle-navigation-btn:focus {
	background-color: white;
	border-color: #999999;
}
span#toggle-navigation-btn .icon-bar {
	background-color: #999999;
}
li.active-page > a {
	color: saddlebrown !important;
	font-weight: bold;
}

/* Далее все медиа классы */
@media screen and (max-width: 767px) {
	div.phone-menu {
		width: 100%;
	}
	div.phone-menu > ul {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	div.phone-menu > ul > li {
		border-bottom: grey solid 1px;
		padding-left: 50px;
	}
	.v-razdelitel, .dot-razdelitel {
	 display: none !important;
  }
}

/* Перенесённое из вендоров по медиа */
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 22.5px;
    padding-bottom: 22.5px;
  }
	.v-razdelitel {
		display: block;
		margin: 20px 0px !important;
  }
	.dot-razdelitel {
		width: 2px;
		height: 2px;
		background: saddlebrown;
		margin: 35px 0px;

	}
}
@media screen and (max-width: 999px) {
	div.navbar-header {
		width: 100%;
	}
	div.phone-menu {
		background-color:#fed9c9;
		opacity: .9;
		border: 1px;
		-webkit-border-radius: 0px 0px 5px 5px;
		-moz-border-radius: 0px 0px 5px 5px;
		border-radius: 0px 0px 5px 5px;
	}

}

/* Перенесённое из вендоров по медиа */
@media (min-width: 1000px) {
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-toggle {
		display: none;
	}

	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none;
	}

	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}

	.navbar-collapse.in {
		overflow-y: visible;
	}

	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}
